import(magrittr)
import(data.table)
import(xml2)
importFrom(stringr, str_detect, str_replace_all, str_extract)
importFrom(lubridate, ymd_hms, ymd_hm, ymd, interval, as.period, int_start, int_end)
importFrom(zoo, na.locf)
import(htmltools)
import(htmlTable)
import(ggplot2)
importFrom(knitr, image_uri)
importFrom(fMultivar, grid2d)

exportPattern("^[[:alpha:]]+")
